/* General */

li a {
    color: black;
}

a {
    text-decoration: none !important;

}

/* Header */
.logo {
    width: 50px;
}

.nav-item a {
    padding-left: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.nav-item a:hover {
    color: #735050;
}

/* Home */
.home-container {
    background-color: #5f504d;
    color: #6db116;
    text-align: center;
    padding: 5rem 1rem;
    min-height: 100vh;
}

.home-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.home-description {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
}

.home-image-container {
    margin-top: 3rem;
    position: relative;
    left: -10px;

}

.home-image {
    width: 250px;
    border-radius: 15px;
}

/* projectsPage */
.projects-page {
    background-color: #1b1b1b;
    color: #d3f9d8;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0");
    /* opzionale: sfondo tipo bosco o spazio */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    padding-top: 50px;
}

.groot-heading {
    font-family: 'Trebuchet MS', sans-serif;
    color: #81c784;
    text-shadow: 0 0 5px #4caf50;
}

/* projectCard */
.groot-card {
    background-color: #2b2b2b;
    border: 2px solid #4caf50;
    border-radius: 20px;
    color: #d3f9d8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1rem;

}

.groot-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px #4caf50;
}

.groot-card-header {
    margin: 1rem;
    text-align: center;
    color: #81c784;
}

.groot-badge {
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 1rem;
}

.badge {
    border: 1px solid chartreuse;
    margin: 0;
}

.groot-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: #2c3e50;
    text-align: center;
}